<h1> welcome to the idea box</h1>
<p>...where ideas come to gather dust and be forever forgotten...if your idea can be fit into a box then it probably sucks anyways and you would be better off if you forget about it and move on with your pathetic life</p>

<p><%= button_to "Login", login_path, method: :get %></p>

<p><%= button_to "create account", new_user_path, method: :get %></p>
